@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.container {
    @include m.flexing(row, center, center);
    width: 100%;
    height: 100px;
    background-color: v.$logbar-layout-color;
    padding: 0 60px;
    box-sizing: border-box;
    a {
        color: aliceblue;
        transition: all ease 0.3s;
        &:hover {
            transform: scale(1.2);
        }
    }
    .links_list {
        @include m.flexing(row, flex-start, flex-start);
        gap: 40px;
    }
    .social_media {
        @include m.flexing(row, flex-start, flex-start);
        gap: 40px;
    }
}