@use '../../styles/mixins' as m;

.container {
    @include m.flexing(row, space-between, center);
    width: 100%;
    height: 100px;
    background-color: rgb(158, 111, 55);
    .logo_container {
        @include m.flexing(row, flex-start, center);
        padding: 0 30px;
        height: 100%;
        width: 120px;
    }
    .searh_bar {
        @include m.flexing(row, flex-end, center);
        height: 100%;
        flex: 1;
    }
    .button_list {
        @include m.flexing(row, flex-end, center);
        height: 100%;
        background-color: rgb(182, 172, 172) ;
        width: 25%;
        min-width: 400px;
        div {
            width: 80px;
        }
    }

}