@use './variables';

@mixin flexing(
  $direction: row,
  $justify: flex-start,
  $align: flex-start
) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  display: flex;
}

@mixin button-styles {
  border-radius: variables.$border-radius;
  border: 1px solid transparent;
  padding: variables.$button-padding;
  font-size: 1em;
  font-weight: variables.$font-weight-medium;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
